<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>llvm</string>
			<key>check_name</key>
			<string>llvm-header-guard</string>
			<key>description</key>
			<string>header is missing header guard</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6df8da08f582150797997b3ceb9fe340</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>1</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>1</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>1</integer>
					</dict>
					<key>message</key>
					<string>header is missing header guard</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-variable</string>
			<key>description</key>
			<string>unused variable 'n1'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0e292c1f41dfe8caa2089db85944a62a</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>6</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'n1'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cppcoreguidelines</string>
			<key>check_name</key>
			<string>cppcoreguidelines-init-variables</string>
			<key>description</key>
			<string>variable 'n1' is not initialized</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>25a93bf67dfaa01f1b089c793bdc8c7f</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>6</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>16</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>16</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>= 0 (fixit)</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>6</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>variable 'n1' is not initialized</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>clang</string>
			<key>check_name</key>
			<string>clang-diagnostic-unused-variable</string>
			<key>description</key>
			<string>unused variable 'n2'</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>55eebe57707d5037e2c4cde5d01bdc6d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>unused variable 'n2'</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cppcoreguidelines</string>
			<key>check_name</key>
			<string>cppcoreguidelines-init-variables</string>
			<key>description</key>
			<string>variable 'n2' is not initialized</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>0e75c4bcdb97c8d4c97ec8d853169709</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>6</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>19</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>6</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>19</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>= 0 (fixit)</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>6</integer>
					</dict>
					<key>message</key>
					<string>variable 'n2' is not initialized</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cppcoreguidelines</string>
			<key>check_name</key>
			<string>cppcoreguidelines-init-variables</string>
			<key>description</key>
			<string>variable 'num1' is not initialized</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>ab66a995426e42b9a3290473fc6db367</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>9</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>9</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>14</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>9</integer>
					</dict>
					<key>message</key>
					<string>= 0 (fixit)</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>9</integer>
					</dict>
					<key>message</key>
					<string>variable 'num1' is not initialized</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>cppcoreguidelines</string>
			<key>check_name</key>
			<string>cppcoreguidelines-init-variables</string>
			<key>description</key>
			<string>variable 'num2' is not initialized</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>b706b78c4c75227f8d2fa7a84a978a80</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>15</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>9</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>15</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>20</integer>
									<key>file</key>
									<integer>1</integer>
									<key>line</key>
									<integer>9</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>20</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>9</integer>
					</dict>
					<key>message</key>
					<string>= 0 (fixit)</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>15</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>9</integer>
					</dict>
					<key>message</key>
					<string>variable 'num2' is not initialized</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/vagrant/github-demo/calculator.h</string>
		<string>/home/vagrant/github-demo/main.cpp</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clang-tidy</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.23.0</string>
		</dict>
	</dict>
</dict>
</plist>
